<div class="row">
  <div class="col-md-3">
    <p><%= @contact.full_name %></p>
    <p><%= @contact.email %></p>
    <p><%= @contact.friendly_created_at %></p>
  </div>
</div>

<%= link_to "Delete", "/contacts/#{@contact.id}", method: :delete %>